<div id="overlay" class="overlay">
	<div id="cc" class="centered-container">
		<div id="popupContent" class="content">
			<span id="closeButton" class="close-button-alt">&times;</span>
			<form hx-post="/leave" hx-target="#message">
				<h3>Attention !! </h3>
				<p style="text-align: center;">-----------------------</p>
				<span>You will lose progress...<img src="/assets/duo.svg" width="60"/></span>
				<hr>
				<br><h3>{{ .Message }}</h3><br>
				<br>
			</form>
			<div class="row">
				<div class="col-6">
					<form hx-post="/redirect/stage" hx-trigger="click">
						<button type="submit" class="margin-left-big btn-primary">Yes</button>
						<input name="item" type="text" value="on" style="display: none;"/>
					</form>
					<br>
				</div>
				<div class="col-6">
					<form hx-target="#message" hx-post="/dialog/quiz/no" hx-trigger="click">
						<button type="submit" class="margin-right-big btn-primary">No</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
