<!-- Footer -->
<div id="footer">
	<div class="container">
		<div class="row">
			<!-- Tweets -->
			<section class="col-4 col-12-mobile">
				<header>
					<h2 class="icon brands fa-twitter circled">
						<span class="label">Tweets</span>
					</h2>
				</header>
				<ul class="divided">
					<article class="post stub">
						<div><a class="text-color" href="/menu">Home</a></div>
					</article> 

					<article class="post stub">
						<div><a class="text-color" href="/profile">Settings</a></div>
						<div><a class="text-color" href="/profile">Security</a></div>
						<div><a class="text-color" href="/language">Configuration</a></div>
					</article> 
				</ul>
			</section>

			<!-- Posts -->
			<section class="col-4 col-12-mobile">
				<header>
					<h2 class="icon solid fa-flag circled">
						<span class="label">Posts</span>
					</h2>
				</header>
				<ul class="divided">
					<article class="post stub">
						<header>
							<h3><a href="#">Support</a></h3>
						</header>
						<a class="text-color" href="#">Requests</a>
					</article>
				</ul>
			</section>

			<!-- Photos -->
			<section class="col-4 col-12-mobile">
				<header>
					<h2 class="icon solid fa-camera circled">
						<span class="label">Photos</span>
					</h2>
				</header>
				<div class="row gtr-25">
					<div class="col-6">
					</div>
					<div class="col-6">
					</div>
					<div class="col-6">
					</div>
					<div class="col-6">
					</div>
					<div class="col-6">
					</div>
					<div class="col-6">
					</div>
				</div>
			</section>
		</div>
		<hr />
		<br>
		<div class="row">
			<div class="col-12">
				<!-- Contact -->
				<section class="contact">
					<header id="footerHeader">
						<h3>Thank you for using my language learning app</h3>
					</header>
					<p>You can find me on social medias down below</p>
					<ul class="icons">
						<li>
							<a href="#" class="icon brands fa-twitter"
								><span class="label">Twitter</span></a
							>
						</li>
						<li>
							<a href="#" class="icon brands fa-facebook-f"
								><span class="label">Facebook</span></a
							>
						</li>
						<li>
							<a href="#" class="icon brands fa-instagram"
								><span class="label">Instagram</span></a
							>
						</li>
						<li>
							<a href="#" class="icon brands fa-pinterest"
								><span class="label">Pinterest</span></a
							>
						</li>
						<li>
							<a href="#" class="icon brands fa-dribbble"
								><span class="label">Dribbble</span></a
							>
						</li>
						<li>
							<a href="#" class="icon brands fa-linkedin-in"
								><span class="label">Linkedin</span></a
							>
						</li>
					</ul>
				</section>

				<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
