<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	/>
	<link rel="icon" href="/assets/aze-flag.svg" type="image/x-icon" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<link defer src="htt[s://cdn.jsdeliver.net/npm/alpinejs@3.13.7/dist/cdn.min.js" />
	<noscript
		><link rel="stylesheet" href="/assets/css/noscript.css"
		/></noscript>
	<style>
@import "https://www.nerdfonts.com/assets/css/webfont.css"
	</style>
</head>
<div id="headerTop" class="header-top">
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a href="#">User Settings</a>
				<ul>
					<li><a href="/1/profile#wheel">Settings</a></li>
					<li><a href="/1/profile#wheel">Profile Information</a></li>
					<li><a href="/1/profile#secId">Profile Security</a></li>
					<li><a href="/1/profile#secId">Progression</a></li>
					<li>
						<ul>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="/1/profile">Settings</a></li>
			<li>
				<a href="/account/sign_out" id="signOut" onclick="signOut()"
					>Logout</a
				>
			</li>
		</ul>
	</nav>
</div>
</div>
