
<article id="userInfoTab" class="container special">
	<header>
		<h2>
			<a id="userInfoLabel" href="">User information</a>
		</h2>
		<br>
		<h4 class="success-message" style="display: none;">Settings Saved successfully</h4>
		<h4 id="failedMessage" class="failed-message" style="display: none;">Something went wrong</h4>
	</header>

	<div id="imageMessageTop"></div>
	<div class="profile-picture">
		<img
		width="150"
		height="150"
		class="pfp rounded-circle"
		/>
		<span></span>

		<form hx-post="/upload/image" hx-target="#imageMessageTop" enctype="multipart/form-data">
			<article class="container">
				<br>
				<div class="container">
				</div>
			</article>
		</form>
	</div>
	<hr>

	<form hx-target="#message" hx-post="/update/settings" >
		<div id="message"></div>
		<p>Email</p>
		<div
			class="wrap-input100 validate-input"
			data-validate="Valid email is required: ex@abc.xyz"
			id="infoId"
			>
			<input
			class="input100"
			type="text"
			name="email"
			id="email"
			placeholder="Email"
			value="{{.Email}}"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</span>
		</div>

		<p>Username</p>
		<div
			class="wrap-input100 validate-input"
			data-validate="Username is required"
			>
			<input
			class="input100"
			type="text"
			name="username"
			id="username"
			placeholder="Username"
			value="{{.UserName}}"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-user-circle" aria-hidden="true"></i>
			</span>
		</div>

		<p>Full name</p>
		<div
			class="wrap-input100 validate-input"
			data-validate="Name is required"
			>
			<input
			class="input100"
			type="text"
			name="firstname"
			id="firstname"
			placeholder="Firstname"
			value="{{.FullName}}"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-user" aria-hidden="true"></i>
			</span>
		</div>

		<br class="margin" />
		<p class="margin-top">Toggle dark mode</p>
		<div
			class="wrap-input100 validate-input"
			data-validate="Name is required"
			>
			<div class="col align-self-center">
				<span id="themeSwitch"></span>
				<!-- Default switch -->
				<label class="custom-switch">
					<input
					name="darkModeSwitch"
					id="darkModeSwitch"
					type="checkbox"
					hx-post="/update/darkmode"	
					hx-target="#message"
					onchange="toggleDarkMode()"
					/>
					<span class="slider round"></span>
				</label>
			</div>
		</div>
		<hr>

		<footer>
			<button id="saveUserInfo" type="submit" class="pushable margin-top-big">
				<span class="d-shadow"></span>
				<span class="edge"></span>
				<span class="front">Save Changes</span>
			</button>
		</footer>

	</form>

</article>
<hr>

<footer>
	<div id="imageMessage"></div>
	<form id="uploadForm" hx-post="/upload/image" hx-target="#imageMessage" enctype="multipart/form-data">
		<article class="container">
			<h3>Profile Picture</h3>
			<br>
			<img
			width="150"
			height="150"
			class="pfp rounded-circle"
			/>
			<div class="upload-container">
				<input type="file" name="image" id="file-input" accept="image/*" required>
				<label for="file-input" class="custom-file-upload">
					<span id="file-name">click to upload image...</span>
				</label>
			</div>
			<br>
			<div class="container">
				<button id="uploadImage" type="submit" class="pushable margin-top-big">
					<span class="d-shadow"></span>
					<span class="edge"></span>
					<span class="front">Upload</span>
				</button>
			</div>
		</article>
	</form>
</footer>
<br>
<hr>
<div class="container">
	<h3>Previous Pictures</h3>
	<button onclick="showAllPictures()" id="showAllPictures" class="btn-primary">Click to show</button>
</div>
<div class="container" id="allPictures"></div>
<br>
