<form hx-target="#prefLang" hx-post="/update/default_language" >
	<article id="userInfoTab" class="container special">
		<header>
			<h2>
				<a id="userInfoLabel" href="">Defaults </a>
			</h2>
			<br>
		</header>

		<div id="message"></div>
		<div id="languages" class="language-card-container">
			<p>Prefered Language</p>
			<div class="row">
				<div class="col">
					<div class="language-card">
						<p><strong id="prefLang">{{.PreferLang}}</strong></p>
					</div>
				</div>
			</div>
			<hr>
			<p>Your Languages</p>
			{{ range $key, $value := .Progress.Data }}
			<div class="row">
				<div class="col">
					<!-- Default switch -->
					<div class="language-card">
						<label class="custom-checkbox">
							<input type="checkbox" id="{{$key}}" name="{{$key}}">
							<span class="checkmark"></span>
							{{$key}} 
						</label>
					</div>
				</div>
			</div>
			{{end}}

			<button id="saveUserInfo" type="submit" class="pushable margin-top-big">
				<span class="d-shadow"></span>
				<span class="edge"></span>
				<span class="front">Set as default lang</span>
			</button>
			<hr>
			<p style="text-align: center;">Add more languages</p>
			<button  onclick="addMoreLanguages()" hx-post="/update/configuration_menu" hx-target="#configuration" type="button" class="btn-primary" id="addMoreLang" >Click to add more</button>
			<hr>
			<div class="correct-container" id="configuration"></div>
			<hr>
</form>
