<html>
<head>
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/assets/css/util.css" />
	<link rel="stylesheet" href="/assets/css/main-login.css" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<link rel="stylesheet" href="/assets/css/dark-mode.css" />
	<!--===============================================================================================-->
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css"/>
	</noscript>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Azla Profile</title>
</head>
<body>

	<section id="wheel" class="carousel">
		<br><br><br>
		<div class="reel" style="overflow: visible; transform: translate(-155px, 0px);">
			<article id="wheel1">
				<header>
					<h3>
						<div class='{{.UserInformation}}' id="userContainerInfo">
							<a id="userInfo" class="section" hx-target="#settingsForm" hx-post="/update/profile/info "href="#userInfo">User information</a>
						</div>
					</h3>
				</header>
			</article>

			<article id="wheel2">
				<header>
					<h3>
						<div class='{{.Security}}' id="userContainerSec">
							<a id="userSec" class="section" hx-target="#settingsForm" hx-post="/update/profile/sec" href="#secId">Security</a>
						</div>
					</h3>
				</header>
			</article>

			<article id="wheel3">
				<header>
					<h3>
						<div class='{{.Language}}' id="userContainerLanguage">
							<a class="selected-tab" hx-target="#settingsForm" hx-post="/update/profile/language" id="userLanguage" class="section" href="#languageId">Language</a>
						</div>
					</h3>
				</header>
			</article>
		</div>
	</section>
</body>
</html>
