<form hx-target="#message" hx-post="/update/progress" >
	<article
		id="userProgTab"
		class="container special"
		>
		<header>
			<h2>
				<a class="" id="userProgressionLabel" href="">Progression</a>
			</h2>

	<p>Reset or delete progression for language</p>
		</header>

		<div id="message"></div>
		<hr>
		<div id="languages" class="language-card-container">
			<div id="langCard">
				{{ range $key, $value := .Progress.Data }}
				<div class="row">
					<div class="col">
						<!-- Default switch -->
						<div class="language-card">
							<label class="custom-checkbox">
								<input class="lang-check"  type="checkbox" id="{{$key}}" name="{{$key}}">
								<span class="checkmark"></span>
								{{$key}}
							</label>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
			<div class="row">
				<div class="col-4">
				</div>
			</div>
			<hr>
			<div class="row">
			</div>
			<footer>
				<br>
				<button id="resetUserProg" type="submit" class="pushable margin-top-big">
					<span class="d-shadow"></span>
					<span class="edge"></span>
					<span class="front">Save</span>
				</button>
			</footer>
		</div>
	</article>
</form>
</div>
<br>
