<form hx-target="#message" hx-post="/update/password" >
	<article
		id="userSecTab"
		class="container special"
		>
		<header>
			<h2>
				<a class="" id="userSecLabel" href="">User Security</a>
			</h2>
		</header>

		<div id="message"></div>
		<p><strong>Confirm </strong>current password <p>
		<div
			id="secId"
			class="wrap-input100 validate-input"
			data-validate="Password is required"
			>
			<input
			class="input100"
			type="password"
			name="passwordCurrent"
			id="currentpassword"
			placeholder="Current Password"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</span>
		</div>

		<br>         
		<p><strong>New </strong>password <p>
		<span id="passwordMessage" style="display: none" class="failed-message">
			<i aria-hidden="true">!</i>
			passwords does not match
		</span>
		<div
			class="wrap-input100 validate-input"
			data-validate="Password is required"
			>
			<input
			class="input100"
			type="password"
			name="pass"
			id="password"
			placeholder="Password"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</span>
		</div>

		<div
			class="wrap-input100 validate-input"
			data-validate="Password is required"
			>
			<input
			class="input100"
			type="password"
			name="passwordConfirm"
			id="passwordconfirm"
			placeholder="Confirm Password"
			/>
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</span>
		</div>
		<br>
		<hr>

		<footer>
			<button id="saveUserSec" type="submit" class="pushable margin-top-big">
				<span class="d-shadow"></span>
				<span class="edge"></span>
				<span class="front">Save Changes</span>
			</button>
		</footer>
	</article>
</form>
<br>
