/* define common color palet */
:root {
  --main-background: #ffffff;
  --middle-background: #f8f8f8;
  --alt-background: #f7f7f7;
  --dark-text-color: #f8f8f8;
  --main-quiz-color: #2b252c;
  --dark-background: #161821;
  --text-color: #161821;
  --text-color-alt: #161821;
  --accent-color-main: #20c997;
  --accent-color-blue: #76c7c0;
  --accent-color-red: #f54545;
  --accent-color-dark: #004080;
  --hover-button: #35e1b7;
  --dark-grey: #333333;
  --dark-white: #ccc;
  --light-grey: #495057;
  --light-grey-hover: #666;
  --dark-purple: #a093c7;
  --magenta: #c850c0;
  --black: #343a40;
  --light-blue: #3498db;
  --normal-blue: #84a0c6;
  --dark-blue: #353f4b;
  --green: #b4be82;
  --red: #ef8376;
  --hover: #57b846;
  --progress-bar: #e0e0e0;
  --level-buttons: linear-gradient(to bottom, hotpink 0%, tomato 100%);
  --linear-green: linear-gradient(
    to bottom,
    var(--alt-background),
    #d0f0c0
  ); /* Light mint green gradient */
  --linear-purple: linear-gradient(
    to bottom,
    var(--alt-background),
    var(--magenta)
  ); /* Light mint green gradient */
  --linear-red: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
  --linear-alt-red: linear-gradient(
    to bottom,
    #ffe6e6,
    #ffb3b3
  ); /* Soft pink gradient */
}


:root.dark-mode {
  --main-background: #161821;
  --main-quiz-color: #2b252c;
  --dark-background: #161821;
  --middle-background: #f8f8f8;
  --alt-background: #2b252c;
  --text-color: #f7f7f7;
  --dark-text-color: #2b252c;
  --text-color-alt: #161821;
  --accent-color-main: #20c997;
  --accent-color-dark: #004080;
  --hover-button: #35e1b7;
  --dark-grey: #333333;
  --dark-white: #ccc;
  --light-grey: #495057;
  --light-grey-hover: #666;
  --dark-purple: #a093c7;
  --magenta: #c850c0;
  --black: #343a40;
  --light-blue: #3498db;
  --normal-blue: #84a0c6;
  --dark-blue: #353f4b;
  --green: #b4be82;
  --red: #ef8376;
  --hover: #57b846;
  --level-buttons: linear-gradient(to bottom, hotpink 0%, tomato 100%);
  --linear-green: linear-gradient(
    to bottom,
    var(--alt-background),
    #d0f0c0
  ); /* Light mint green gradient */
  --linear-purple: linear-gradient(
    to bottom,
    var(--alt-background),
    var(--magenta)
  ); /* Light mint green gradient */
  --linear-red: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
  --linear-alt-red: linear-gradient(
    to bottom,
    #ffe6e6,
    #ffb3b3
  ); /* Soft pink gradient */
}


body {
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center; /
  transition: background-color 0.5s ease;
  font-family: "Roboto", sans-serif;
  animation: fadeIn 0.5s linear;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
  .menu-container {
    margin-top: 1px;
  }

  .drop-target {
    width: 50%;
  }

  .create-btn {
    width: 90%;
  }

  #popupContent {
    width: auto;
    padding: 20px;
  }
  
}


@media (max-width: 900px) {
  #backTop1,
  #backTop2,
  #backTop3 {
    width: 100%;
  }
  
  #overlay {
    width: 100%;
  }

  #cc {
    width: 99%;
  }
  #popupContent {
    width: 100%;
  }
}
@media (min-width: 768px) {

  .dropdown-content::after {
    content: "";
    position: absolute;
    bottom: var(--arrow-vertical); /* Adjust this value to control the position of the triangle */
    left: var(--arrow-left);
    border-width: 0 20px 20px; /* Size of the triangle */
    border-style: solid;
    border-color: var(--accent-color-main) transparent; /* Background color of the bubble */
  }
}

@media (max-width: 100px) {
  .drop-target {
    width: 100%;
  }
}

@media (max-width: 1800px) {
}

@media (max-width: 2000px) {
}

@media (max-width: 2200px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1000px) {
  .error-mes {
    position: relative;
    left: 10%;
    top: 80%;
  }

  #dropTarget {
    width: 100%;
  }

  #questionContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0px;
    z-index: 99999;
  }

  #mainQuestionForm {
    top: 50%;
    transform: translate(+0%, 0%);
  }

  #stage4Header,
  #stage3Header,
  #stage2Header,
  #stage1Header {
    font-size: 24px;
  }

  .text-primary {
    font-size: 25px;
  }
  #cc {
    background-color: #00000000; /* Light gray background for visibility */
  }
}

@media (max-width: 600px) {
  #dropTarget,
  #writeBox {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .login-buttons[type="text"],
  .login-buttons[type="password"],
  .login-buttons {
    width: 100%;
  }

  #nextButton {
    width: 100%;
  }

  .button-container button, 
  .button-container a {
    width: 100%;
    margin-top: 100px;
  }

  #backTop1,
  #backTop2,
  #backTop3 {
    width: 100%;
  }
  
  #checkButton {
    width: 100%;
  }

  .hide-on-small {
    display: none;
  }

  #dropTarget {
    width: 100%;
  }


  .dropdown-content::after {
    content: "";
    position: absolute;
    bottom: var(--arrow-vertical); /* Adjust this value to control the position of the triangle */
    left: var(--arrow-left);
    border-width: 0 20px 20px; /* Size of the triangle */
    border-style: solid;
    border-color: var(--accent-color-main) transparent; /* Background color of the bubble */
  }

  .text-primary {
    font-size: 18px;
  }

  .create-btn {
    width: 100%;
  }

  #questionContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }

  #userInfo,
  #userSec {
    border-radius: 0px;
  }

  #userContainer {
    background-color: var(--alt-background);
    border-radius: 0px;
    color: var(--hover-button);
    border-radius: 20px;
    padding: 10px;

  }

  .login-container {
    margin-top: 1px;
  }

  .azla-flag {
    width: 150px;
    height: auto;
  }

  .btn-start {
    width: 100%;
    margin-left: 20px;
  }

  .error-mes {
    left: 0;
    top: 80%;
  }
}

#mainQuestionForm {
  top: 50%;
  transform: translate(+0%, 50%);
}

.bottom-items-container {
  /* Style your bottom items container here */
  position: fixed;
  bottom: auto; /* Adjust as needed */
  right: auto;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

.purple {
  background: var(--dark-purple);
}

.middle-corner {
  position: absolute; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  right: 40%; /* Align the image to the right */
  margin: 20px;
}

.right-corner {
  position: absolute; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  right: 0; /* Align the image to the right */
  margin: 20px;
}


.right-corner-0 {
  position: absolute; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  right: 0; /* Align the image to the right */
}


.left-corner-bottom {
  position: absolute; /* Position the image relative to the container */
  bottom: 0; /* Align the image to the top */
  left: 0; /* Align the image to the right */
  margin: 20px;
}


.right-corner-bottom {
  position: absolute; /* Position the image relative to the container */
  bottom: 0; /* Align the image to the top */
  right: 0; /* Align the image to the right */
  margin: 20px;
}

.middle {
  position: absolute; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  margin: 20px;
  margin-right: 100px;
}

.left-corner {
  position: absolute; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  left: 0; /* Align the image to the right */
  margin: 20px;
}

.azla-flag-margin {
  margin: 20px;
}

.title-container {
  position: relative;
  width: fit-content; /* Adjust as needed */
}

.title-label {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Background color for label */
  color: white; /* Text color for label */
  padding: 5px 10px;
  font-size: 25px; /* Adjust as needed */
}

.heart-container {
  position: relative;
  top: 0; /* Align the image to the top */
  left: 0; /* Align the image to the right */
}

.menu-container {
  border: 0px solid var(--dark-blue); /* Border color */
  position: relative;
  border-radius: 20px; /* Rounded corners */
  /*margin-top: 20px;*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  /*margin-bottom: 70px;*/
  background-color: var(--main-background);
  /* background-image: linear-gradient(to bottom, var(--normal-blue), var(--main-background, #f2f2f2), var(--hover-button));*/
  opacity: 99%;
  z-index: 1;
  text-align: center;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-window {
  position: relative; /* Position the container */
  top: 50%; /* Position the container vertically at 50% from the top */
  left: 50%; /* Position the container horizontally at 50% from the left */
  transform: translate(-50%, -50%); /* Center the container precisely */
  background-color: #f4f4f4; /* Example background color */
  border-radius: 10px; /* Example border radius */
  padding: 20px; /* Example padding */
  z-index: 10000;
}


.quiz-container {
  position: fixed; /* Position the container */
  background-color: #f4f4f4; /* Example background color */
  border-radius: 10px; /* Example border radius */
  padding: 20px; /* Example padding */
  z-index: 10000;
}

.unit-container {
  border: 0px solid var(--dark-blue); /* Border color */
  position: relative;
  padding: 10px 10px 10px 10px;
  /* background-image: linear-gradient(to bottom, var(--normal-blue), var(--main-background, #f2f2f2), var(--hover-button));*/
  opacity: 99%;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#unitLabelUnit1 {
}

#unitDivUnit1 {
}

#unitLabelUnit2 {
}

#unitDivUnit2 {
}

#unitLabelUnit3 {
}

#unitDivUnit3 {
}

.text-primary {
  color: var(--normal-blue);
}

.text-secondary {
  color: var(--accent-color-dark);
  font-size: 18px;
}

.text-login {
  font-size: 30px;
}

.menu-container-small {
  border: 2px solid var(--dark-blue); /* Border color */
  border-radius: 20px; /* Rounded corners */
  background-color: var(--light-blue);
  padding: 10px 10px 10px 10px;
  margin-bottom: 100px;
  opacity: 99%;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.btn-primary {
  background-color: var(--accent-color-main);
  border-radius: 20px;
}

.btn-sec {
  border: 3px dashed var(--dark-blue)

}

.btn-sec {
  background-color: #ccc;
}

.btn-primary:hover {
  background-color: var(--hover-button);
}

.btn-sec:hover {
  background-color: var(--dark-blue);
}

.btn-quiz {
  width: auto;
}

.btn-start {
  width: 100%;
  margin-left: 20px;
}

.text-color {
  color: var(--main-background);
}

.text-color-dark {
  color: var(--text-color);
}

.normal-text-underline {
  color: var(--text-color);
  font-family: 'Dancing Script', sans-serif; 
  font-size: 1.5rem;
  text-decoration: underline;
}

#nav ul li:hover  {
  background-color: var(--hover);
  border-radius: 20px;
}

nav li a:hover {
  background-color: var(--hover);
  border-radius: 20px;
  color: var(--text-color);
}

.words-container {
  padding: 0px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-size: 15px; /* Font size */
  width: 60%; /* Width of the select box */
  background-color: var(--main-background); /* Background color */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  transition: transform 0.7s ease; /* Add transition for smooth animation */
  box-shadow: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapers.com/images/featured-full/3840x2160-me8yr4lxsd6kyhkm.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(100px); /* Adjust the blur radius as needed */
  box-shadow: none;
  z-index: -1; /* Ensure the background is behind other content */
  transition: background-color 0.5s ease;
}

.footer-bg {
  background-color: var(--text-color);
  opacity: 90%;
}

.header {
  position: sticky; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  color: #fff; /* Text color */
  padding: 1px -100px 1px -100px; /* Padding */
  z-index: 1000; /* Higher z-index to ensure it stays on top */
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}

.header-top {
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  color: #fff; /* Text color */
  z-index: 20000; /* Higher z-index to ensure it stays on top */
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}


.header-bottom {
  position: fixed; /* Fixed position */
  bottom: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  color: #fff; /* Text color */
  z-index: 1000; /* Higher z-index to ensure it stays on top */
  border-radius: 0px;
  background-size: cover;
  background-position: center;
  fadeIn 3s linear;
}

/* Example box shadow */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  text-align: center;
  opacity: 90%;
  z-index: 100;
}

.form-select {
  margin: 20px;
}

.footer-link {
  color: var(--normal-blue);
  font-size: 18px;
}

p a {
  color: var(--dark-purple);
}

p a:hover {
  color: var(--light-grey-hover);
}

.content {
  text-align: center;
  font-size: 24px;
}

.login-container {
  border: 0px solid var(--dark-blue); /* Border color */
  border-radius: 20px; /* Rounded corners */
  margin: 0px;
  padding: 1px 1px 1px 1px;
  background-color: var(--main-background);
  opacity: 99%;
  z-index: 1;
  text-align: center;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  height: auto;
  animation: fadeIn 0.3s linear;
}

.login-container-inner {
  box-shadow:
    0 0 20px 0 rgba(255, 255, 255, 1),
    0 5px 5px 0 rgba(255, 255, 255, 0.24);
  padding: 15px 10px 15px 10px;
  text-align: center;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  margin-top: 10px;
  width: auto;
  height: auto;
}

.login-buttons[type="text"],
.login-buttons[type="password"] {
  width: 90%;
}

.create-account-input[type="text"],
.create-account-input[type="password"] {
  width: auto;
}

.login-buttons {
  width: auto;
}

.create-btn {
  width: 100%;
}

#nextButton {
  width: 50%;
}

#checkButton {
  width: 50%;
}

.answer-input[type="text"] {
  border: 2px solid var(--dark-purple); /* Border color */
  width: auto;
}

.margin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.margin-bottom-big {
  margin-bottom: 50px;
}

.margin-top-big {
  margin-top: 50px;
}

.margin-big {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-right {
  margin-right: 5px;
}

.margin-right-big {
  margin-right: 30px;
}

.margin-left {
  margin-left: 5px;
}

.margin-left-big {
  margin-right: 30px;
}

.margin-huge {
  margin: 300px;
}

.margin-small {
  margin-top: 20px;
  margin-bottom: 4px;
}

input[type="text"],
input[type="password"] {
  border: 3px solid var(--main-background); /* Border color */
}
input[type="text"]:hover,
input[type="password"]:hover {
  border: 3px solid var(--normal-blue); /* Border color */
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 3px solid var(--dark-purple); /* Border color */
}

.spiral-background {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    white,
    white 70%,
    #3498db 71%,
    #3498db
  );
}

.ripple-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(
    --main-background
  ); /* Background color of the ripple effect */
  opacity: 0.5; /* Adjust the opacity as desired */
  z-index: -1;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: #fff; /* Color of the ripples */
  animation: ripple-animation 2s linear infinite;
}

/* Custom styles for the switch */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}
.custom-switch input {
  display: none;
}
.custom-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-white);
  transition: 0.4s;
  border-radius: 30px;
}
.custom-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-color);
  transition: 0.4s;
  border-radius: 50%;
}
.custom-switch input:checked + .slider {
  background-color: var(--accent-color-main);
}
.custom-switch input:checked + .slider:before {
  transform: translateX(25px);
}
/* Rounded sliders */
.custom-switch .slider.round {
  border-radius: 30px;
}
.custom-switch .slider.round:before {
  border-radius: 50%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--main-background);
    padding: 10px;
    margin: 10px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-left: 35px;
    font-size: 30px;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 5px;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #aaa;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #4caf50;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

hr.fancy {
  border: none;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #007bff, #ff4500);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

hr.invisible {
  border: none;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--main-background);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.fancy-header {
  color: var(--main-background);
  text-align: center;
  padding: 20px;
  font-size: 40px;
  box-shadow: none;
  background-color: var(--main-quiz-color);
}

.background-brown {
  background-color: var(--main-quiz-color);
}

.fancy-title {
  font-family: 'Dancing Script', sans-serif; 
  font-size: 2rem;
  color: var(--accent-color-main); /* Example custom color */
  margin-left: 15px;
  margin-right: 15px;
}

.fancy-text {
  font-family: 'Dancing Script', sans-serif; 
  font-size: 2rem;
  color: var(--accent-color-main); /* Example custom color */
  text-decoration: underline;
}

.fancy-text:hover {
  font-family: 'Dancing Script', sans-serif; 
  font-size: 2rem;
  color: var(--hover); /* Example custom color */
  text-decoration: underline;
}


.colored-image {
  filter: hue-rotate(180deg); /* Adjust the hue value to change the color */
}

.stage-headers {}

/* Styles for the default navbar */
.navbar {
    background-color: var(--alt-background);
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    float: left;
}


.navbar li h5,
.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dancing Script', sans-serif; 
    font-size: 0.95rem;
    color: var(--accent-color-main); /* Example custom color */
    text-decoration: underline;
}

.navbar li span {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive; /* Example custom font */
    font-size: 1.7rem;
    color: var(--accent-color-main); /* Example custom color */
}

.navbar li a:hover {
    background-color: #111;
}

.navbar li a {
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
}

/* Styles for the fancy navbar */
.fancy-navbar {
    background-color: var(--main-quiz-color); /* Different background color */
}

.fancy-navbar li h5:hover,
.fancy-navbar li a:hover {
    background-color: var(--hover); /* Different color on hover */
    color: var(--text-color);
    text-decoration: underline;
}

.invalid-input[type="text"],
.invalid-input[type="password"] {
  border: 2px solid var(--red); /* Border color */
}

.dont-show {
  display: none;
}

.icon-size {
  font-size: 30px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.error-mes {
  position: relative;
  left: 25%;
  color: var(--red);
  top: 80%;
  font-size: 12px;
  transform: translateY(-50%);
}

.error-mes-login {
  color: var(--red);
  font-size: 14px;
}

.correct-mes {
  color: var(--green);
  font-size: 30px;
}

.incorrect-mes {
  color: var(--red);
  font-size: 30px;
}

#draggable {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: move;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  font-family: 'Dancing Script', sans-serif; 
  font-size: 20px;
}

/* Example hover effect */
.btn {
  transition: transform 0.2s ease-in-out;
}

.btn-1 {
  transition: transform 0.2s ease-in-out;
}

a.btn-1 {
  color: var(--text-color);
}

.flagbtn-1:hover {
  border: 2px solid var(--alt-background);
}

a {
  color: var(--text-color);
}

.btn:hover {
  background-color: #57b846;
  padding: 20px;
  color: var(--text-color);
}

.btn-1:hover {
  background-color: #57b846;
  padding: 20px;
}

.hover-effect {
  transition: transform 0.2s ease-in-out;
}

.hover-effect:hover {
}

.arrow-container {
  display: inline-flex; /* Make the container inline and flexible */
  align-items: center; /* Align items vertically */
}

.arrow-text {
  margin-left: 5px; /* Adjust spacing between arrow and text */
  margin-right: 5px; /* Adjust spacing between arrow and text */
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* adjust size as needed */
  border-right: 10px solid transparent; /* adjust size as needed */
  border-top: 10px solid black; /* adjust size and color as needed */
  margin: 10px; /* adjust size and color as needed */
}

#droppable {
  width: 200px;
  height: 200px;
  background-color: #e0e0e0;
  border: 2px dashed #aaa;
  font-family: 'Dancing Script', sans-serif; 
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 10px 0;
}
.category {
  font-weight: bold;
}
.level {
  margin-left: 20px;
}

.circle-text {
  justify-content: center;
  display: inline-flex;
  text-align: center;
  line-height: auto; /* Adjust based on the diameter of the circle */
  width: 100px; /* Diameter of the circle */
  height: 100px; /* Diameter of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: var(--dark-purple); /* Circle color */
  color: white; /* Text color */
  font-size: 30px;
  border: 2px solid var(--text-color); /* Border color */
  position: relative;
}

.circle {
  width: auto;
  height: auto;
  line-height: auto;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background: var(--dark-purple);
}

.badge {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: var(--dark-purple);
  font-size: 30px;
}

/* CSS */
.button-53 {
  background: linear-gradient(
    45deg,
    var(--accent-color-main),
    var(--hover-button),
    var(--hover-button),
    var(--accent-color-main)
  );
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none var(--text-color) solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: fadeIn 0.4s forwards;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

h3.colorful {
  color: var(--accent-color-dark);
}

#levelsList {
  opacity: 1;
  height: auto;
  overflow: hidden;
  display: none;
  animation: slideInFromTop 0.4s forwards;
  list-style-type: none;
  padding: 0;
}

#levelsList.hidden {
  opacity: 0;
  height: 0;
}

#levelsList li {
  background-color: #f7f7f7; /* Light gray background */
  margin: 10px 0;
  margin-left: 20px;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  color: #333; /* Dark text color */
  transition: background-color 0.3s ease;
}

#levelsList li:hover {
  background-color: #e0e0e0; /* Lighter gray on hover */
  cursor: pointer;
}

.popup-menu {
  display: block; /* Initially hidden */
  position: absolute;
  top: 100%; /* Position below the main button */
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.popup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  border-radius: 20px;
  border: 2px solid #ccc;
  margin-top: 6em;
}

.dropdown-menu div li a {
  text-align: center;
}

.dropdown-menu div li a:hover {

}

  .dropdown-menu::after {
    content: "";
    position: absolute;
    bottom: calc(50% + 25px); /* Adjust this value to control the position of the triangle */
    right: 7%;
    border-width: 0 20px 20px; /* Size of the triangle */
    border-style: solid;
    border-color: #f9f9f9 transparent; /* Background color of the bubble */
  }

.dropdown-menu button {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: var(--hover-button);
}

.dropdown-menu li a:hover {
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--accent-color-main);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--main-background);
  filter: brightness(125%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


#dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideInFromTop 0.2s forwards;
}


.dropdown-language {
  display: none;
  position: flex;
  background: var(--accent-color-main);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 2px;
  padding: 20px 20px 20px 20px;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  text-align: center;
  animation: slideInFromTop 0.4s forwards;
  width: 100%;
  transition: opacity 1s ease;
}

  .dropdown-language::after {
    content: "";
    position: absolute;
    bottom: calc(50% + 43px); /* Adjust this value to control the position of the triangle */
    right: 0;
    border-width: 0 40px 25px; /* Size of the triangle */
    border-style: solid;
    border-color: var(--accent-color-main) transparent; /* Background color of the bubble */
  }


/* Dropdown Content (Hidden by Default) */
.dropdown-content-top {
  display: none;
  position: absolute;
  background: #f9f9f9;
  z-index: 99999999;
  width: 20vmin;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 100;
  border-radius: 20px;
  padding: 20px 60px 20px 24px;
  flex-direction: column;
  justify-content: center;
  animation: slideInFromTop 0.4s forwards;
  transition: opacity 1s ease;
}

.dropdown-content-top a {
  color: var(--text-color);
  font-size: 20px;
}


.dropdown-content-top .spacer {
  background-color: #ccc;
  padding: 1px;
  margin: 8px;
  width: calc(100% - 10px)
}



.dropdown-menu a:hover,
.dropdown-content-top a:hover {
  background-color: var(--hover);
  color: var(--text-color);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: relative;
  background: var(--accent-color-main);
  width: 100%;
  max-width: 460px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 20px;
  padding: 20px 60px 20px 24px;
  flex-direction: column;
  justify-content: center;
  animation: slideInFromTop 0.4s forwards;
  transition: opacity 1s ease;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    display: block;
  }
  
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: var(--hover-button);
      border-radius: 50px;
    }

  .dropdown-content-locked {
    display: none;
    position: relative;
    background: #CCCCCC;
    color: var(--main-background);
    width: 100%;
    max-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 20px;
    padding: 20px 60px 20px 24px;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown-content::after {
    content: "";
    position: absolute;
    bottom: var(--arrow-vertical); /* Adjust this value to control the position of the triangle */
    left: var(--arrow-left);
    border-width: 0 20px 20px; /* Size of the triangle */
    border-style: solid;
    border-color: var(--accent-color-main) transparent; /* Background color of the bubble */
  }
  
  
  .dropdown-content-locked::after {
    content: "";
    position: absolute;
    left: var(--arrow-left);
    bottom: var(--arrow-vertical); /* Adjust this value to control the position of the triangle */
    border-width: 0 20px 20px; /* Size of the triangle */
    border-style: solid;
    border-color:  #CCCCCC transparent; /* Background color of the bubble */
  }

  #allPictures.show {
    animation: slideInFromTop 0.4s forwards;
  }

  #allPictures.hide {
    animation: fadeOut 0.4s forwards;
  }

  .dropdown-menu.show {
    animation: slideInFromTop 0.4s forwards;
  }
  
  .dropdown-content.show {
    display: block;
    animation: slideInFromTop 0.4s forwards;
  }
  
  .dropdown-content.hide {
    animation: fadeOut 0.4s forwards;
  }

  .dropdown-menu.hide {
    animation: fadeOut 0.4s forwards;
  }
  
  .dropdown-content-locked.show {
    animation: slideInFromTop 0.4s forwards;
  }
  
  .dropdown-content-locked.hide {
    animation: fadeOut 0.4s forwards;
  }
  
.btn-locked {
  background: linear-gradient(
    to top,
    var(--red) 100%,
  );
  border: 6px solid var(--red);
}

.list-of-pictures {
  padding: 20px;
}

.btn-round {
  display: box;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-image-radius: 50%;
  border: 6px solid var(--accent-color-main) ; 
  border-image-slice: 1;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  z-index: 500;
  background: linear-gradient(
    to top,
    var(--accent-color-main) 100%,
    var(--alt-background) 0%
  );
}

.btn-lvl {
  display: box;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-image-radius: 50%;
  border: 6px solid var(--accent-color-main) ; 
  border-image-slice: 1;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  z-index: 500;
  background: linear-gradient(
    to top,
    var(--accent-color-main) 0%,
    var(--alt-background) 0%
  );
}

.circle-container {
  display: box;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-image-radius: 50%;
  border: 6px solid var(--accent-color-main) ; 
  border-image-slice: 1;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  z-index: -1;
  background: linear-gradient(
    to top,
    var(--text-color) 100%,
    var(--alt-background) 0%
  );
}

.image-container {
  position: relative; /* Set the container to relative positioning */
}

.image-text {
  position: absolute; /* Position the text element absolutely */
  top: 50%; /* Position it at the center vertically */
  left: 50%; /* Position it at the center horizontally */
  transform: translate(-50%, -60%); /* Center it precisely */
  color: white; /* Set text color */
  font-size: 24px; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add text shadow */
}

.btn-lvl:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}

ul li a:hover {
}

.btn-lvl:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-lvl:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-lvl:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.btn-lvl:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
  transform: scale(0.5);
}
.btn-lvl:focus:not(:focus-visible) {
  outline: none;
}

.btn-lvl:hover {
  background: var(--hover-button);
  opacity: 0.9;
}

.btn-locked:hover {
  background: var(--main-background);
  opacity: 0.9;
}

.ring-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    background-color: var(--accent-color-main);
    color: #333;
    border-radius: 50%; /* Adjust as needed */
    cursor: pointer;
}

ring-button:hover {
  background-color: var(--hover-button)
}

#mainButton:hover {
}

#mainButton::before,
.btn-lvl::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--alt-background);
  opacity: 0;
  content: "";
  animation: pulse 2s infinite;
}

#mainButton::before,
.btn-lvl:hover::before {
  animation: none;
  opacity: 0.4;
}

#mainButton::before,
.btn-lvl.is-clicked {
  background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

#mainButton::before,
.btn-lvl.is-clicked:before {
  animation: blastOut 1s;
}

#mainButton {
  background-color: var(--accent-color-main);
  border: 2px solid  var(--alt-background);
  display: box;
  width: 100px;
  height: 100px;
  padding: 20px;
}

#mainButton:hover {
  background-color: var(--hover)
}

.draggable {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: move;
  flex-grow: 1;
  flex: 1 1 auto;
  display: inline-block;
  font-size: 1.5em;
}

.draggable.slide {
  transition: transform 0.5s ease-in;
}

/* Add this class when item is dropped into the dropTarget */
.slide {
  transform: translateY(-100%);
  opacity: 0;
}

.drop-target {
  width: 50%;
  height: auto;
  position: relative;
  min-height: 20px;
  border-bottom: 2px dashed #aaa;
  margin-bottom: 10px auto;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center; /* Center items vertically */
  justify-content: start;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start;
  animation: fadeIn 0.3s linear;
}

.add-target {
  border: 2px dashed #aaa;
  display: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid #fff;
  font-size: 38px;
  height: auto;
  margin: 20px;
}

.add-target:hover {
  background-color: var(--hover-button)

}


.drop-target-search {
  width: 50%;
  height: auto;
  position: relative;
  min-height: 100px;
  border: 0px solid #aaa;
  padding: 20px 20px 20px 20px;
  margin: 20px auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center; /* Center items vertically */
  justify-content: start;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start;
  animation: fadeIn 0.3s linear;
}

.drop-target span {
  margin: 5px; /* Add some margin around each item */
  margin-top: 100px; /* Add some margin around each item */
  animation: fadeIn 1s slideInFromTop;
}

#heart {
  position: relative; /* Position the image relative to the container */
  top: 0; /* Align the image to the top */
  right: 0; /* Align the image to the right */
  left: 0;
  width: 10px;
  height: auto;
  margin: 10px;
  margin-right: 50px;
  animation: heartbeat 3s ease infinite;
  display: inline-block;
  z-index: 1;
}


#heartImg {
  z-index: 100;
}

.heart-label {
  top: 0; /* Align the image to the top */
  right: 0; /* Align the image to the right */
  background-color: var(--main-background);
  color: var(--text-color);
  z-index: 10;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: var(--red);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.username-login[type="text"] {
  position: relative;
}

.username-login[type="text"]::after {
  content: "Username";
  color: "#000000";
  position: absolute;
  transform: translateY(-50%);
  color: #555; /* Adjust text color */
  font-size: 12px; /* Adjust font size */
  opacity: 1;
  transition: opacity 0.3s ease; /* Add transition for smooth reveal */
}

.left-container {
  position: relative; /* Make the container a positioning context */
  float: left;
  margin-right: 10px;
}

.right-container {
  position: relative; /* Make the container a positioning context */
  float: right;
  width: fit-content; /* Adjust as needed */
}

.middle-container {
  position: relative; /* Make the container a positioning context */
  float: center;
  margin-right: 10px;
}

.title-upper-container {
  display: flex; /* Use flexbox to arrange items */
  justify-content: right; /* Center the items horizontally */
  align-items: center;
}

.left-align {
  margin-right: -10px;
}

.right-align {
  margin-right: -10px;
}

#duoImg {
  z-index: 1;
}

/* chat bubble effect*/
.chat-bubble-container {
  display: flex; /* Use flexbox to arrange items */
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  z-index: 0;
}

  /* Style for the chat bubble container */
  .chat-bubble {
    position: relative;
    display: inline-block;
    background-color: var(--main-background); /* Background color of the bubble */
    border-radius: 20px; /* Border radius to make it round */
    padding: 5px 10px; /* Padding inside the bubble */
    margin-bottom: 5px; /* Margin to create space between bubbles */
    margin-top: 10px; /* Margin to create space between bubbles */
    margin-left: 20px; /* Margin to create space between bubbles */
    z-index: 0;
  }
  
  /* Style for the triangle/border of the chat bubble */
  .chat-bubble::after {
    content: "";
    position: absolute;
    bottom: -15px; /* Adjust this value to control the position of the triangle */
    left: 0px; /* Adjust this value to control the position of the triangle */
    border-width: 15px 15px 0; /* Size of the triangle */
    border-style: solid;
    border-color: var(--main-background) transparent; /* Background color of the bubble */
    display: none;
  }
  
  .chat-bubble::before {
         content: '';
         position: absolute;
         top: 75%;
         left: -15px; /* Adjust this value to control the position of the arrow */
         transform: translateY(-50%);
         width: 0;
         height: 0;
         border-top: 30px solid transparent;
         border-bottom: 20px solid transparent;
         border-right: 20px solid var(--main-background); /* Adjust color as needed */
     }
  
  .chat-bubble-jump,
  .chat-bubble-start {
    position: relative;
    display: inline-block;
    background-color: var(--light-blue);
    color: var(--accent-color-main);
    border-radius: 20px;
    padding: 20px 20px;
    margin-top: 30px;
    margin-left: 20px;
    width: auto;
    min-width: 200px;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.1); /* Add shadow to create depth */
    border-color: 2px solid #d0f0c0 ; /* Border color */
    background: linear-gradient(
      to bottom right,
      var(--main-background) 60%,
    );
    animation: moveUpDown 3s infinite alternate;
    font-size: 25px;
  }
  
  /* Style for the triangle/border of the chat bubble */
  .chat-bubble-jump::after,
  .chat-bubble-start::after {
    content: "";
    position: absolute;
    bottom: -25px; /* Adjust this value to control the position of the triangle */
    left: calc(50% - 25px);
    border-width: 25px 25px 0; /* Size of the triangle */
    border-style: solid;
    border-color: var(--main-background) transparent; /* Background color of the bubble */
  }

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  width: 100%;
}

.dropdown-content a span.edge,
.dropdown-content a span.front {
  background: linear-gradient(
    to left,
    hsl(100deg 100% 16%) 0%,
    hsl(100deg 100% 16%) 8%,
    hsl(100deg 100% 16%) 92%,
    hsl(100deg 100% 16%) 100%
  );
}

.dropdown-content a span.edge:hover,
.dropdown-content a span.front:hover,
.dropdown-content a:hover {
  background: linear-gradient(
    to left,
    hsl(105deg 100% 32%) 0%,
    hsl(105deg 100% 32%) 8%,
    hsl(105deg 100% 32%) 92%,
    hsl(105deg 100% 32%) 100%
  );
  border-radius: 12px;
}

.d-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(100deg 100% 16%) 0%,
    hsl(100deg 100% 32%) 8%,
    hsl(100deg 100% 32%) 92%,
    hsl(100deg 100% 16%) 100%
  );
}

.edge-red {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(0 100% 16%) 0%,
    hsl(0 100% 32%) 8%,
    hsl(0 100% 32%) 92%,
    hsl(0 100% 16%) 100%
  );
}


.edge-locked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(1deg 100% 16%) 0%,
    hsl(1deg 100% 0%) 8%,
    hsl(1deg 100% 0%) 8%,
    hsl(1deg 100% 16%) 0%,
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--accent-color-main);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.front-red {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--accent-color-red);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.front-alt {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--hover-button);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.front-locked {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--light-grey);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front,
.pushable:hover .front-locked,
.pushable:hover .front-alt {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front,
.pushable:hover .front-locked,
.pushable:active .front-alt {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.button-container button, 
.button-container a {
  width: 22%;
  margin-top: 100px;
}


.button-container-2 button, 
.button-container-2 a {
  width: 50%;
  margin-top: 100px;
}

.button-color {
  color: #000000;
  background-color: #000000;
}

.selected-tab {
  background-color: var(--hover);
  color: var(--alt-background);
  border-radius: 20px;
  padding: 20px;
}

.user-container {
    background-color: var(--alt-background);
    border-radius: 0px;
    color: var(--hover-button);
    border-radius: 20px;
    padding: 10px;
}

.upload-container {
    position: relative;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--accent-color-main);
    color: white;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: var(--hover-button);
}

.profile-pictures {
  text-align: center;
}

.profile-pictures:hover {
  border: 4px solid var(--hover)
}

#file-name {
    margin-left: 10px;
    font-size: 14px;
}

.success-message {
  background-color: var(--alt-background);
  color: var(--hover-button);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  position: relative;
  border: 2px solid var(--hover-button); /* Border color */
  z-index: 10000;
}

.failed-message {
  background-color: var(--alt-background);
  color: var(--red);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  position: relative;
  border: 2px solid var(--red); /* Border color */
  z-index: 10000;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 50px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.close-button-alt:hover,
.close-button-alt:focus,
.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.main-bg {
  background: url("assets/header.jpg")
}

#wheel4,
#wheel3,
#wheel1,
#wheel2 {
  opacity: 1;
}

.white-background {
  background-color: var(--alt-background);
  color: var(--text-color);
}

.mandatory {
  font-size: 18px;
  color: var(--red)
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000; /* Ensure the overlay is above other content */
}


.close-button-alt {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-left: 50px;
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Full viewport height */
    width: auto;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background for visibility */
}

.centered-container .content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 20em;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Ring */
.ring-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 200px; /* Set width explicitly */
}

.ring {
    position: relative;
    transform: translateY(-50%);
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
}

.ring::before,
.ring::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set width to fill the container */
    height: 100%; /* Set height to fill the container */
    border-radius: 50%; /* Make it a circle */
}

.ring::before {
    border: 10px solid #ccc; /* Adjust thickness and color */
}

.ring::after {
    border: 10px solid transparent; /* Adjust thickness */
    border-top-color: #ccc; /* Adjust color */
    border-right-color: #ccc; /* Adjust color */
}

.show {
  display: block;
}

#mistakes,
#correctWordContainer,
#incorrectWordContainer,
#correctWordContainer p,
#incorrectWordContainer p,
#resultWordContainer {
  justify-content: center;
  background-color: var(--alt-background);
  text-align: center;
}


#subview {
  padding: 10px;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border: none; /* Remove existing border */
  box-shadow: 0 0 0 4px var(--dark-purple), /* Outer border */
              0 0 0 8px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  animation: slideInFromTop 0.4s forwards;
}

#mistakes {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border: none; /* Remove existing border */
  box-shadow: 0 0 0 4px var(--dark-purple), /* Outer border */
              0 0 0 8px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  background-image: linear-gradient(to bottom, #ccc, #f4f4f4);
  animation: slideInFromTop 0.4s forwards;
}

.text-container {
  border: 2px solid var(--light-grey);
  margin: 10px;
  padding: 10px;
  font-family: 'Dancing Script', sans-serif; 
}

#resultWordContainer {
  padding: 10px;
}

#correctWordContainer p,
#incorrectWordContainer p {
  font-size: 20px;
}

#resultWordContainer.show {
  animation: slideInFromTop 0.4s forwards;
}

#resultWordContainer.hide::before,
#resultWordContainer.hide {
  animation: fadeOut 0.4s forwards;
}

#section1Stage1.show {
  animation: slideInFromTop 0.4s forwards;
}


#resultWordContainer::before {
  content: "";
  position: absolute;
  bottom: 100%; /* Adjust this value to control the position of the triangle */
  left: calc(50% - 50px);
  border-width: 0 50px 30px; /* Size of the triangle */
  border-style: solid;
  border-color: var(--alt-background) transparent; /* Background color of the bubble */
}

.small-font {
  font-size: 18px;
}

/* Styles for the loading screen container */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-quiz-color); /* Semi-transparent black background */
  z-index: 9999; /* Ensure it appears above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top: 4px solid #3498db; /* Blue border for animation */
    border-radius: 50%;
    position: absolute;
    width: 30px;
    top: 50%;
    right: 50%;
    height: 30px;
    animation: spin 1s linear infinite; /* Spin animation */
}  

/* Styles for the loading spinner */
.spinner {
  border: 4px solid #f3f3f3; /* Light grey border */
  border-top: 4px solid #3498db; /* Blue border on top */
  border-radius: 50%; /* Circular shape */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Rotate animation */
}

/* Styles for the loading text */
.loading-text {
  color: white;
  font-size: 24px;
  margin-top: 0.8em;
  margin-left: 10px;
}

.check-mark { 
  height: 50px; 
  width: 18px; 
  border-bottom: 10px solid var(--alt-background); 
  border-right: 10px solid var(--main-background); 
  border-image: linear-gradient(45deg, var(--text-color), var(--hover-button)) 1;
  transform: rotate(45deg); 
  margin-bottom: 20px; 
  margin-left: 20px; 
} 

.arrow {
    position: relative;
}

.arrow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 0;
    border-style: solid;
    border-width: 18px 30px 18px 0;
    border-color: transparent #fff transparent transparent;
    bottom: 45px;
}

.progress-bar-container {
    background-color: var(--progress-bar);
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    margin: 20px 0;
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--accent-color-main);
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
}

.language-card-container {
  padding: 0px;
  width: auto;
  text-align: center;
}

.language-card {
    background-color: var(--dark-text-color);
    color: var(--text-color);
    font-size: 30px;
    padding: 40px;
    margin: 10px;
    width: auto;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.language-card.slide-out {
    transform: translateX(100%);
    opacity: 0;
}

.language-card:hover {
  background-color: var(--accent-color-main);
  color: var(--text-color);
  
}

.undo-btn {
    display: inline-block;
    margin: 10px;
    padding: 20px 25px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    
}

.undo-btn:hover {
    background-color: #ccc;
    color: var(--text-color)
}


.text-wrapper-top-right,
.text-wrapper-top-left {
    position: absolute;
    top: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--hover-button);
    cursor: pointer;
    padding: 2px;
}

.text-wrapper-top-right {
    right: 30px;
}

.text-wrapper-top-left {
    left: 10px;
}

.text-wrapper-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--hover-button);
    cursor: pointer;
    padding: 2px;
}

.plus-btn {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.plus-btn::before,
.plus-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: black;
}

.plus-btn::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.plus-btn::after {
  transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: -10px;
    background: transparent;
    border: none;
    font-size: 35px;
    color: var(--hover-button);
    cursor: pointer;
    padding: 2px;
}

.close-btn:hover {
    color: var(--text-color);
    padding: 4px;

}

.close-btn:focus {
    outline: none;
}

.popup-from-bottom {
    display: none; /* Hidden by default */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: var(--hover-button); /* Green background */
    color: var(--dark-text-color);
    height: 45%;
    padding: 16px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.5s ease-in-out;
    z-index: 999999;
}

.loading-cube-content {
  width: 50vmin;
  height: 50vmin;
  perspective: 100vmin;
  animation: spin-all 4s
    ease-in-out 0s infinite;
}
.cube {
  background: #fff;
  width: 20vmin;
  height: 20vmin;
  border-radius: 2vmin;
  transform: rotate(48deg) rotateX(22.5deg) 
    rotate(-22.5deg);
  left: 14.5vmin;
  top: 5vmin;
  transition: all 1s ease 0s;
}

.cube,
.cube:after,
.cube:before {
  animation: spin-cube -3s infinite
            alternate;
}
  .cube:before,
  .cube:after {
  position: absolute;
  content: "";
  background: #fff;
  width: calc(100% - 2vmin);
  height: calc(100% - 2vmin);
  border-radius: 2vmin;
  transform: rotateY(-90deg);
  transform-origin: right-bottom;
  top: 2.5vmin;
  left: 4vmin;
  transition: all 1s ease 0s;
  animation-name: spin-cube-before;
}

cube:after {
  top: 4vmin;
  left: 2.5vmin;
  transform: rotateX(90deg);
  animation-name: spin-cube-after;
}

@keyframes spin-all {
  50%, 100% {
    transform: rotate(720deg);

  }
}

@keyframes spin-cube {
  0%, 50% {
    border-radius: 100%;
    transform: rotate(39deg)
      rotateX(0deg) rotateY(0deg);
    left: 20vmin;
    top: 10vmin;
    width: 10vmin;
    height: 10vmin;
  }
  
  50%, 100% {
    border-radius: 2vmin;
    transform: rotate(48deg)
        rotateX(22.5deg) rotateY(-22.5deg);
    left: 14.5vmin;
    top: 5vmin;
    width: 20vmin;
    height: 20vmin;
  }
}

@keyframes spin-cube-before {
  0%, 50% {
    border-radius: 100%;
    transform: rotateY(-180deg)
      rotateX(0deg);
    left: 11vmin;
    top: 9vmin;
    width: 100%;
    height: 100%;
  }
  50%, 100% {
    border-radius: 2vmin;
    transform: rotateY(-90deg);
    left: 4vmin;
    top: 2.5vmin;
    width: calc(100% - 2vmin);
    height: calc(100% - 2vmin);
  }
}

@keyframes spin-cube-after {
  0%, 50% {
    border-radius: 100%;
    transform: rotateY(0)
      rotateX(180deg);
    left: 5vmin;
    top: 12vmin;
    width: 100%;
    height: 100%;
  }
  50%, 100% {
    border-radius: 2vmin;
    transform: rotateY(90deg);
    left: 2.5vmin;
    top: 4vmin;
    width: calc(100% - 2vmin);
    height: calc(100% - 2vmin);
  }
}

@keyframes slideUp {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}
/* keyframes */

/* Keyframes for the spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ripple-animation {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 400px; /* Adjust the width and height of the ripple */
    height: 400px;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define keyframes */
@keyframes slideOut {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
    overflow: hidden;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: 0.4;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  25% {
    transform: rotate(-5deg); /* Rotate slightly to the left */
  }
  50% {
    transform: rotate(5deg); /* Rotate slightly to the right */
  }
  75% {
    transform: rotate(-5deg); /* Rotate slightly to the left */
  }
  100% {
    transform: rotate(0deg); /* End with no rotation */
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Move up by 20 pixels */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

 /* Loading animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

