<!doctype html>
<html>
  <head>
    <title>Azla Welcome</title>
  </head>
  <body class="homepage is-preload">
    <form hx-post="/update/username" hx-target="#welcomeLabel" hx-trigger="load"></form>
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header">
        <!-- Inner -->
        <div class="inner">
          <header>
            <h1>
              <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png"
              id="profileDropdown"
              width="60"
              height="60"
              class="dropdown-toggle pfp rounded-circle"
              />
              <span id="usernameLabel" class="d-none d-sm-inline mx-1"></span>
              <a href="#" id="logo">Azla</a> 
            </h1>
            <div id="dropDown" class="dropdown">
              <div id="dropMenu" class="dropdown-menu">
                  <div class="flex container">
                    <li><a href="/1/profile#wheel">Profile</a></li>
                    <hr class="dropdown-divider" />
                  </div>
              </div>
            </div>
            <hr />
            <p>Welcome <strong id="welcomeLabel" class="text-color"></strong> to Azla language learning</p>
            <p>Press Start</p>
          </header>
          <footer>
            <a id="mainButton" href="#banner" class="button circled scrolly">Start</a>
          </footer>
        </div>
        <!-- Nav -->
      </div>

      <!-- Banner -->
      <section id="banner">
        <header>
          <h2>Hi. Your journey starts <strong>Here</strong>.</h2>
          <p>Choose your Section and lvl here that you have unlocked</p>
          <br>

          <form hx-post="/update/username" hx-target="#username" hx-trigger="load"></form>
          <p>You are logged in as <strong id="username" class="username"></strong></p>
        </header>
      </section>
      
      <div id="mainContent">
        {{ if .Configure }}
        <form hx-post="/update/configuration_languages" hx-target="#languages" hx-trigger="load"></form>

        <div class="wrapper style1" id="languageSelection">
          <section id="features" class="container special">
            <header>
              <h2></h2>
              <p>
              </p>
            </header>
            <div class="row">
              <article class="col-12 col-12-mobile special">
                <header>
                  <h3>{{ .Message }}</h3>
                </header>
                <div style="display: none;" class="success-message" id="langMessage"></div>
                <div style="text-align: center;" id="languages"></div>
                <div class="button-cont">
                  <button onclick="confirmLanguageAction()" id="unlock" type="submit" class="pushable margin-top-big">
                    <span class="d-shadow"></span>
                    <span class="edge"></span>
                    <span class="front">Confirm</span>
                  </button>
                </div>
              </article>
            </div>
          </section>
        </div>

        <section id="selectStage" style="display: none;" class="carousel">
          {{ else }}
          <!-- Carousel -->

          <section class="carousel">
        {{ end }}
          <div class="reel">
            <article style="opacity: 1" hx-get="/update/stage/1" hx-trigger="load" hx-target="#Stage1">
              <a href="#stage1" class="image featured"
                ><img src="/assets/pic01.jpg" alt=""
                /></a>
              <header>
                <h3>
                  <a id="Stage1" class="section" href="#stage1"
                    >Stage 1</a
                  >
                </h3>
              </header>
              <p>basic sentence structures and greetings</p>
            </article>

            <article style="opacity: 1" hx-get="/update/stage/2" hx-trigger="load" hx-target="#Stage2">
              <a href="#stage2" class="image featured"
                ><img src="/assets/pic02.jpg" alt=""
                /></a>
              <header>
                <h3><a id="Stage2" class="section" href="#stage2">Stage 2</a></h3>
              </header>
              <p>Order in a resturant, cafe and shops</p>
            </article>

            <article style="opacity: 1" hx-get="/update/stage/3" hx-trigger="load" hx-target="#Stage3" >
              <a href="#stage3" class="image featured"
                ><img src="/assets/pic03.jpg" alt=""
                /></a>
              <header>
                <h3><a id="Stage3" class="section" href="#stage3">Stage 3</a>
                </h3>
              </header>
              <p>Describe your job</p>
            </article>
          </div>
        </section>
      </div>
      
      <hr>
      <nav class="navbar fancy-navbar">
        <ul>
          <li>
            <a
              class="nav-bg-color-inner d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="border-radius: 20px"
              >
              <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="pfp rounded-circle"
              />
              <span id="usernameLabel" class="d-none d-sm-inline mx-1"></span>
            </a>
          </li>
        </ul>
      </nav>
      <div id="footerReached"><div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main_page.js"></script>
    <script src="/src/events/account_events.js"></script>
    <script src="/src/events/loading.js"></script>
    <script src="/src/user/configurations.js"></script>
    <script src="/src/api.js"></script>
    <script src="/src/cookies.js"></script>
    <script src="/src/toggle.js"></script>
    <script src="/src/cookies.js"></script>
    <script src="/src/api.js"></script>
    <script src="/src/events/scroll_events.js"></script>
    <script src="/src/animations/animations.js"></script>
    <script src="/src/menu.js"></script>

  </body>
</html>
