<!doctype html>
<html lang="en">
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  />
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" type="image/x-icon" />
  <head>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/assets/css/util.css" />
    <link rel="stylesheet" href="/assets/css/main-login.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!--===============================================================================================-->
    <noscript>
      <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azla Profile</title>
    <style>
      @import "https://www.nerdfonts.com/assets/css/webfont.css"
    </style>
  </head>
  <body class="homepage is-preload">
    <div id="page-wrapper">
      <div id="header">
        <!-- Inner -->
        <div class="inner">
          <header>
            <h1><a href="index.html" id="logo">Azla Profile</a></h1>

            <hr />
            <form hx-post="/update/username" hx-target="#usernameLabel" hx-trigger="load"></form>
            <p>
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png"
            width="30"
            height="30"
            class="pfp rounded-circle"
            />~
            <strong class="text-color" id="usernameLabel"></strong></p>
            <br>
            <p class="text-color">Account Settings</p>
          </header>
          <footer>
            <a id="mainButton" href="#wheel" class="button circled scrolly">Settings</a>
          </footer>
        </div>
  
        <!-- Loading overlay -->
        <div class="loading-overlay" id="loadingScreen" style="display: none;">
          <!-- Loading spinner -->
          <div class="loading-spinner"></div>
        </div> 

      </div>
      <section id="banner">
        <header>
          <h2>Azla <strong>Settings</strong>.</h2>
        </header>
      </section>

      <article id="image1" class="container special">
        <a href="#" class="image featured"
          ><img src="/assets/pic06.jpg" alt=""
          /></a>
      </article>
      <hr>
      <br>
        <section id="wheel" class="carousel">
          <br><br><br>
          <div class="reel">
            <article id="wheel1">
              <header>
                <h3>
                  <div id="userContainerInfo" class="{{.UserInformation}}">
                    <a id="userinfo" hx-target="#settingsForm" hx-post="/update/profile/info"class="section" href="#userInfo"
                      >User information</a
                    >
                    <div>
                </h3>
              </header>
            </article>

            <article id="wheel2">
              <header>
                <h3>
                  <div id="userContainerSec" class="{{.Security}}">
                    <a id="userSec" hx-target="#settingsForm" hx-post="/update/profile/sec" class="section" href="#secId">Security</a>
                  </div>
                </h3>
              </header>
            </article>

            <article id="wheel3">
              <header>
                <h3>
                  <div id="userContainerLanguage" class="{{.Language}}">
                    <a hx-target="#settingsForm" hx-post="/update/profile/language" id="userLanguage" class="section" href="#languageId">Languages</a>
                  </div>
                </h3>
              </header>
            </article>

        </section>

      <div id="settingsForm">
      {{ if .Info }}
      <form hx-target="#settingsForm" hx-post="/update/profile/info" hx-trigger="load"></form>
      {{ end }}

      {{ if .Sec }}
      <form hx-target="#settingsForm" hx-post="/update/profile/sec" hx-trigger="load"></form>
      {{ end }}


      {{ if .Lang }}
      <form hx-target="#settingsForm" hx-post="/update/profile/language" hx-trigger="load"></form>
      {{ end }}

      {{ if .Prog }}
      <form hx-target="#settingsForm" hx-post="/update/profile/progression" hx-trigger="load"></form>
      {{ end }}

      </div>

      <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/jquery.dropotron.min.js"></script>
      <script src="/assets/js/jquery.scrolly.min.js"></script>
      <script src="/assets/js/jquery.scrollex.min.js"></script>
      <script src="/assets/js/browser.min.js"></script>
      <script src="/assets/js/breakpoints.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main_page.js"></script>
      <script src="/src/events/account_events.js"></script>
      <script src="/src/api.js"></script>
      <script src="/src/toggle.js"></script>
      <script src="/src/cookies.js"></script>
      <script src="/src/profile.js"></script>
      <script src="/src/user/validate.js"></script>
      <script src="/src/animations/animations.js"></script>
      <script src="/src/events/scroll_events.js"></script>
      <script src="/src/user/configurations.js"></script>
  </body>
</html>
