<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		/>
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">Profile Picture</a></h3>
									</header>


									<a href="#" class="image featured"><img style="border-radius: 50px;" id="profilePicture" class="pfp rounded-cirlce" alt="" /></a>
									<p>
									</p>


									<div id="imageMessage"></div>
									<form id="uploadForm" hx-post="/upload/image" hx-target="#imageMessage" enctype="multipart/form-data">
									<footer>

										<div class="upload-container">
											<input type="file" name="image" id="file-input" accept="image/*" required>
											<label for="file-input" class="custom-file-upload">
												<span id="file-name">click to upload image...</span>
											</label>
										</div>
									</footer>


									<header>
										<h3>
											<button type="submit" class="pushable margin-top-big">
												<span class="d-shadow"></span>
												<span class="edge"></span>
												<span class="front">Save</span>
											</button>
										</h3>
									</header>


									</form>
								</section>

								<br class="margin" />
								<h3 class="margin-top">Toggle dark mode</h3>
								<div
									class="wrap-input100 validate-input"
									data-validate="Name is required"
									>
								</div>

									<div class="col align-self-center">
										<span id="themeSwitch"></span>
										<!-- Default switch -->
										<label class="custom-switch">
											<input
											name="darkModeSwitch"
											id="darkModeSwitch"
											type="checkbox"
											hx-post="/update/darkmode"	
											hx-target="#message"
											onchange="toggleDarkMode()"
											/>
											<span class="slider round"></span>
										</label>
									</div>
								<hr>

								<section>
									<hr>
								</section>
							</div>
							<div class="col-8 col-12-mobile imp-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">Profile</a></h2>
										<p>
											Configure your account
										</p>
									</header>

									<form hx-target="#message" hx-post="/update/settings" >
										<div id="message"></div>
										<p>Email</p>
										<div
											class="wrap-input100 validate-input"
											data-validate="Valid email is required: ex@abc.xyz"
											id="infoId"
											>
											<input
											class="input100"
											type="text"
											name="email"
											id="email"
											placeholder="Email"
											value="{{.Email}}"
											/>
											<span class="focus-input100"></span>
											<span class="symbol-input100">
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</span>
										</div>

										<p>Username</p>
										<div
											class="wrap-input100 validate-input"
											data-validate="Username is required"
											>
											<input
											class="input100"
											type="text"
											name="username"
											id="username"
											placeholder="Username"
											value="{{.UserName}}"
											/>
											<span class="focus-input100"></span>
											<span class="symbol-input100">
												<i class="fa fa-user-circle" aria-hidden="true"></i>
											</span>
										</div>

										<p>Full name</p>
										<div
											class="wrap-input100 validate-input"
											data-validate="Name is required"
											>
											<input
											class="input100"
											type="text"
											name="firstname"
											id="firstname"
											placeholder="Firstname"
											value="{{.FullName}}"
											/>
											<span class="focus-input100"></span>
											<span class="symbol-input100">
												<i class="fa fa-user" aria-hidden="true"></i>
											</span>
										</div>

										<footer>
											<button id="saveUserInfo" type="submit" class="pushable margin-top-big">
												<span class="d-shadow"></span>
												<span class="edge"></span>
												<span class="front">Save Changes</span>
											</button>
										</footer>
									</form>
									<hr>

									<section>
										<header>
										</header>
										<p>
										</p>
										<p>
										</p>
									</section>
									<section>
										<header>
										</header>
										<p>
										</p>
									</section>
								</article>
							</div>
						</div>
						<hr />

						<section>
							<h2>Previous Pictures</h2>
							<button htmx-indicator="#spinner" onclick="showAllPictures()" id="showAllPictures" class="btn-primary">
								<span class="spinner-border spinner-border-sm htmx-indicator" id="spinner"></span>
								Click to show</button>
							<div class="container row gtr-50" id="allPictures"></div>
						</section>
					</div>

				</div>


		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main_page.js"></script>

	</body>
</html>
